<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AWSRESTBIngShi039</display-name>
  
  
  
  
  	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>mypackage.HelloWorldServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/cmpe281BingShi039/rest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Employee</servlet-name>
		<servlet-class>mypackage.EmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Employee</servlet-name>
		<url-pattern>/cmpe281BingShi039/rest/employee/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Project</servlet-name>
		<servlet-class>mypackage.ProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Project</servlet-name>
		<url-pattern>/cmpe281BingShi039/rest/project/*</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>EmployeeXML</servlet-name>
		<servlet-class>mypackage.XMLEmployeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployeeXML</servlet-name>
		<url-pattern>/cmpe281BingShi039/restxml/employee/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProjectXML</servlet-name>
		<servlet-class>mypackage.XMLProjectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectXML</servlet-name>
		<url-pattern>/cmpe281BingShi039/restxml/project/*</url-pattern>
	</servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>